@model SocialMedia

@{
	ViewData["Title"] = "CreateSocialMedia";
	Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
	<h4 class="page-title">Yeni Hesap Ekle</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Bilgileri Giriniz<div>
				</div>
				<div class="card-body">
					<form method="post">
						<label>Sosyal Medya Hesabı Adı</label>
						<input type="text" asp-for="Title" class="form-control" />
						<br />
						<label>Profil URL</label>
						<input type="text" asp-for="Url" class="form-control" />
						<br />
						<label>İcon</label>
						<input type="text" asp-for="Icon" class="form-control" />
						<br />
						<button class="btn btn-primary">Hesap Ekle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



@* <div class="container-fluid">
	<br />
	<h4 class="page-title">Sosyal Medya Hesabı Ekle</h4>
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form method="post">
				<input type="text" class="form-control input-square" id="squareInput" placeholder="Hesap Adı">
				<br />
				<input type="text" class="form-control input-square" id="squareInput" placeholder="URL">
				<br />
				<input type="text" class="form-control input-square" id="squareInput" placeholder="İcon">
				<br />
				<button class="btn btn-primary">Yeni Yetenek Ekle</button>
				</form>
			</div>
		</div>
	</div>
</div> *@

